body {
  font-family: "HelveticaNeue", "Helvetica", Arial, sans-serif;
  background-image: url(resources/kai-pilger-Ef6iL87-vOA-unsplash.jpg);
  background-repeat: "no repeat";
  background-attachment: fixed;
}

button.heart{
  border: none;
  color: rgb(247, 111, 111);
  background-color: transparent;
}

img, svg, video, audio {
  max-width: 100%;
}

.card-text.light-text {
  color: hsl(218,86%,90%);
}

.nasa-blue-text {
  color: hsl(218,86%,70%);
}

.transparent {
  background-color: rgba(0,0,0,0) !important;
}

.transparent.bg-dark {
  background-color: rgba(0,0,0,0) !important;
}

.transparent.bg-light {
  background-color: rgba(0,0,0,0) !important;
}

#error {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 24pt;
  color: hsl(348, 100%, 70%);

}

#spinner {
  display: flex;
  justify-content: center;
  color: white;
}
